@model TaskControl.Models.User

@{
    ViewBag.Title = "Create";
    ViewBag.NotPass = "You can't pass!!";
}

@if (Session["auth"] != null && Session["auth"].ToString() == "1")
{
<div class="featured">
<h2 style="padding-top:10px; padding-bottom:10px; margin:20px;">Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        <div class="divBlock">
            <div class="editor-label2">
                @Html.Label("Email", new { @class = "label2"})
            </div>

            <div class="editor-field2">
                @Html.TextBoxFor(model => model.UserName, new { @class = "textB"})
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="divUnder"></div>
        <br />
        <div class="divBlock">
            <div class="editor-label2">
                @Html.Label("Password", new { @class = "label2" })
            </div>

            <div class="editor-field2">
                @Html.TextBoxFor(model => model.Password, new { @class = "textB"})
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <br />
        <div align="center">
            <input type="submit" value="Create" class="newBtn"/>
        </div>
    </fieldset>
}
<br />
<div align="center">
    @Html.ActionLink("Back to List", "Index")
</div>
</div>
}
else
{
    <h1>@ViewBag.NotPass</h1> 
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
