@model IEnumerable<TaskControl.Models.User>

@{
    ViewBag.Title = "Users";
}

@if (Session["auth"] != null)
{
    
<section class="featured" >    
<h2 class="userHeader">Usuarios</h2>
<p class="subtitle">Listado de usuarios existentes en el sistema</p>


<div>
<table class="userTable" align="center">
@if (Session["auth"] != null && Session["auth"].ToString() == "1")
    {
    <tr>
    <th style="border:none;"></th>
     <th><span>@Html.ActionLink("Nuevo usuario", "Create")</span></th>
    </tr>
    }
    

    @{ string cl = "";
       string tdR = "";
       int i = 0;}
@foreach (var item in Model) {
    i++;
    <tr>
    @if(i==Model.Count())
    {
        cl = "noBorder";
        tdR = "tdRightNoBorder";
    }
    else
    {
        cl = "yesBorder";
        tdR = "tdRightYesBorder";
    }
    <td class="@cl">
        <img src="../../Images/user.png" width="35" class="imgUser"/>
        <span class="taskName"><strong>@Html.DisplayFor(modelItem => item.UserName)</strong></span>     
        <br />
        <br />
        <img src="../../Images/lock.png" width="20" class="imgLock"/>
        <span class="normalText">@Html.DisplayFor(modelItem => item.Password)</span>
        <img src="../../Images/email.png" width="30" class="imgEmail"/>
        <span class="emailText">@Html.DisplayFor(modelItem => item.UserName)</span>
    </td>
        @if (Session["auth"] != null)
        {
        <td class="@tdR">
            <button class="newBtn" onclick="location.href='@Url.Action("Edit", "User", new { id = item.ID }) '">Edit</button>
            <button class="newBtn" onclick="location.href='@Url.Action("Delete", "User", new { id = item.ID }) '">Delete</button>
        </td>
        }
    </tr>
    }

</table>
</div>
</section>
}
else
{
    <h1>@ViewBag.NotPass</h1> 
}