@model IEnumerable<TaskControl.Models.User>

@{
    ViewBag.Title = "Users";
}

@if (Session["auth"] != null)
{
<h2 style="background-color:Orange; padding-bottom:10px; padding-top:10px; margin-bottom:20px;" >Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="height:400px">
<table align="center">
    <tr>
        <th>
            @Html.DisplayName("USER")
        </th>
        <th>
            @Html.DisplayName("PASSWORD")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
</div>
}
else
{
    <h1>@ViewBag.NotPass</h1> 
}