<!-- Referencia del modelo de usuario -->
@model TaskControl.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="background-color:Orange; padding-bottom:10px; margin-bottom:10px;">Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed");
    <div>
        <fieldset>
            <legend>Login Form</legend>
            <div>@Html.LabelFor(model=>model.UserName)</div>
            <div>
                @Html.TextBoxFor(model => model.UserName)
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div>@Html.LabelFor(model => model.Password)</div>
            <div>
                @Html.PasswordFor(model => model.Password)
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <input type="submit" value="Login" />
        </fieldset>
    </div> 
}
