<!-- Referencia del modelo de usuario -->
@model TaskControl.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="loginHeader">User Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed");
    <div>
        <fieldset>
            <legend>Login Form</legend>
            <div>
                @Html.TextBoxFor(model => model.UserName, new { placeholder = "User name"})
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div>
                @Html.PasswordFor(model => model.Password, new { placeholder = "Password"})
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <input type="submit" value="Login" class="loginButton" />
        </fieldset>
    </div> 
}
