<!-- Referencia del modelo de usuario -->
@model TaskControl.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Incorrect Login");
    <div class="loginBack">
        <fieldset>
            <legend>Login Form</legend>
            <h2 class="loginHeaderLog">Sign In</h2>
            <div class="lo">    
                @Html.TextBoxFor(model => model.UserName, new { placeholder = "Email"})
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div>
                @Html.PasswordFor(model => model.Password, new { placeholder = "Password"})
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <input type="submit" value="Login" class="loginButton" />
        </fieldset>
    </div> 
}
