@using TaskControl.Helpers
<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Pending task control</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <script type="text/javascript">
            function update() {
                if ($(window).scrollTop() > 400) {
                    $('.signup_scroll').animate({
                        "bottom": '0px'
                    }, 300);
                } else {
                    $('.signup_scroll').animate({
                        "bottom": '-90px'
                    }, 300);
                }
            }

            setInterval(update, 500);
    </script>
    </head>

@{
    string bodyBack = "";

    if (Session["auth"] != null)
    {
        bodyBack = "bodyBackNone";
    }
    else
    {
        bodyBack = "bodyBack"; 
    }
}

    <body class="@bodyBack">
        <header>
            <div class="content-wrapper">
                <div align="right" class="loginDiv">
                    <div style="text-align:left; margin-left:10px;">@Html.ActionImage("Index", "Home", "../../Images/logo-seguros-broker.png", "200", "Index", "Logo")</div> 
                    
                    
                    @if (Session["auth"] != null)
                    { 
                        <span class="spnLogin">@Html.ActionImage("Logout", "User", "../../Images/logout.png", "20", "logout", "Logout")</span>
                    }
                    else if (Session["auth"] == null)
                    {
                         <span class="spnLogin">@Html.ActionLink("Register", "Create", "User")</span>
                    }
                    
                </div>
            </div>
        </header>
        @if (Session["auth"] != null)
        { 
            <div class="subheader">
                @if (@Request.RawUrl.Contains("Home"))
                {
                   <span class="spnNavMenuActive">@Html.ActionLink("Tareas", "Index", "Home")</span>
                   <span class="spnNavMenuInactive">@Html.ActionLink("Usuarios", "Index", "User")</span>
                }
                else
                {
                   <span class="spnNavMenuInactive">@Html.ActionLink("Tareas", "Index", "Home")</span>
                   <span class="spnNavMenuActive">@Html.ActionLink("Usuarios", "Index", "User")</span>
                }
            </div>
        }
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

@{
    string footLog = "";

    if (Session["auth"] == null)
    {
        footLog = "footLog";
    }
    else
    {
        footLog = "";
    }
    
}

     <footer class="@footLog">
            <div class="content-wrapper" >
                <div style="text-align:center; padding-top:10px;">
                    &copy; @DateTime.Now.Year - <span style="font-family:Courier; font-size:15px;"><strong>Seguros</strong>broker</span>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

    </body>
</html>
