@using TaskControl.Helpers
<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Pending task control</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div align="right" class="loginDiv">
                    
                    <div class="appname">@Html.ActionLink("*gawain", "Index", "Home", new { @class = "applinkname"})<span class="subappname">(esto es <a href="http://es.wikipedia.org/wiki/Idioma_tagalo" target="_blank">Tagalo</a>)</span></div>
                    
                    @if (Session["auth"] != null)
                    { 
                        <span class="spnLogin">@Html.ActionImage("Logout", "User", "../../Images/logout.png", "20", "logout", "Logout")</span>
                    }
                    
                </div>
            </div>
        </header>
        @if (Session["auth"] != null)
        { 
            <div class="subheader">
                @if (@Request.RawUrl.Contains("Home"))
                {
                   <span class="spnNavMenuActive">@Html.ActionLink("Tareas", "Index", "Home")</span>
                   <span class="spnNavMenuInactive">@Html.ActionLink("Usuarios", "Index", "User")</span>
                }
                else
                {
                   <span class="spnNavMenuInactive">@Html.ActionLink("Tareas", "Index", "Home")</span>
                   <span class="spnNavMenuActive">@Html.ActionLink("Usuarios", "Index", "User")</span>
                }
            </div>
        }
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper" >
                <div style="text-align:center; padding-top:10px;">
                    &copy; @DateTime.Now.Year - <span style="font-family:Courier; font-size:15px;">{be<strong>code</strong>}</span>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
