@using TaskControl.Helpers
<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Pending task control</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div align="right" class="loginDiv">
                    <div style="text-align:left; margin-left:10px;">@Html.ActionImage("Index", "Home", "../../Images/logo-seguros-broker.png", "200", "Index")</div>
                    
                    @if (Session["auth"] == null)
                    { 
                        <span class="spnLogin">@Html.ActionLink("Log In", "Login", "User")</span>
                    }
                    else
                    {
                        <span class="spnLogin">@Html.ActionLink("Create User", "Create", "User") | </span>
                        <span class="spnLogin">@Html.ActionLink("Log Out", "Logout", "User")</span>
                    } 
                </div>
            </div>
        </header>
        @if (Session["auth"] != null)
        { 
            <div class="subheader">
                @if (@Request.RawUrl == "/Home/Index")
                {
                   <span class="spnNavMenuActive">@Html.ActionLink("Tareas", "Index", "Home")</span>
                   <span class="spnNavMenuInactive">@Html.ActionLink("Usuarios", "Index", "User")</span>
                }
                else
                {
                   <span class="spnNavMenuInactive">@Html.ActionLink("Tareas", "Index", "Home")</span>
                   <span class="spnNavMenuActive">@Html.ActionLink("Usuarios", "Index", "User")</span>
                }
            </div>
        }
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper" >
                <div style="text-align:center; padding-top:10px;">
                    &copy; @DateTime.Now.Year - <strong>Seguros</strong>broker.com
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
