@model TaskControl.Models.Task

@{
    ViewBag.Title = "Edit";
}

<h2 style="background-color:#A0A0A0; padding-bottom:10px; padding-top:10px; margin-bottom:20px;">Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset style="height:500px">
        <legend>Task</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.Label("Tarea")
        </div>
        <br />
        <div class="editor-field">
            @Html.EditorFor(model => model.TaskName)
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.TaskName)
        </div>

        <br />
        <div class="editor-label">
            @Html.Label("Descripción de la Tarea")
        </div>
        <br />
        <div class="editor-field">
            @Html.EditorFor(model => model.TaskDescription)
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.TaskDescription)
        </div>
        <br />
        <div class="editor-label">
            @Html.Label("Asignada a")
        </div>
        <br />
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Who, (SelectList)ViewData["Users"])
            @Html.ValidationMessageFor(model => model.Who)
        </div>
        <br />
        <div class="editor-label">
            @Html.Label("Realizada")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Do)
            @Html.ValidationMessageFor(model => model.Do)
        </div>
        <br />
        <div align="center">
        <p>
            <input type="submit" value="Save" />
        </p>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
