@model TaskControl.Models.Task

@{
    ViewBag.Title = "Crear una nueva tarea";
    ViewBag.NotPass = "You can't pass!!";
}

@if (Session["auth"] != null && Session["auth"].ToString() == "1")
{
<div class="featured">
<div class="content-wrapper" style="margin-bottom:10px; padding-bottom:10px;">
    <h2 class="newTaskH2">Editar</h2>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Task</legend>

        <div class="divBlock">
            <div class="editor-label2">
                @Html.Label("Tarea", new { @class = "label2"})
            </div>

            <div class="editor-field2">
                @Html.TextBoxFor(model => model.TaskName, new { @class = "textB"})
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.TaskName)
            </div>
        </div>
        <div class="divUnder"></div>
        <br />
        <div class="divBlock">
            <div class="editor-label2">
                @Html.Label("Descripción de la Tarea", new { @class = "label2" })
            </div>

            <div class="editor-field2">
                @Html.TextAreaFor(model => model.TaskDescription, new { @class = "multi"})
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.TaskDescription)
            </div>
        </div>
        <div class="divUnder"></div>
        <br />
        <div class="divBlock">
            <div class="editor-label2">
                @Html.Label("Asignada a", new { @class = "label2" })
            </div>
            <div class="editor-field2">
                @Html.DropDownListFor(model => model.Who, (SelectList)ViewData["Users"], new { @class = "drop2"})
                @Html.ValidationMessageFor(model => model.Who)
            </div>
        </div>
        <div class="divUnder"></div>
        <br />
        <div class="divBlock">
            <div class="editor-label2" style="text-align:center">
                @Html.Label("Realizada", new { @class = "label2" })
            </div>
            <div class="editor-field2"  style="text-align:center">
                @Html.EditorFor(model => model.Do)
                @Html.ValidationMessageFor(model => model.Do)
            </div>
        </div>
        <br />
        <div class="divBlock">
            <fieldset class="fields">
                <legend style="display:block;">Otras opciones</legend>
                <div style="margin-top:25px; margin-bottom:15px;">Enviar email? @Html.CheckBox("sendEmail")</div>
                
                <!-- Priority zone -->
                <span>Prioridad </span>
                <div class="rating-wrap">
                    <div class="radio-wrap">
                        <input type="radio" name="rating" value="1"></input>
                        <div class="rating-fill"></div>
 
                        <input type="radio" name="rating" value="2"></input>
                        <div class="rating-fill"></div>
 
                        <input type="radio" name="rating" value="3"></input>
                        <div class="rating-fill"></div>
 
                        <input type="radio" name="rating" value="4"></input>
                        <div class="rating-fill"></div>
 
                        <input type="radio" name="rating" value="5"></input>
                        <div class="rating-fill"></div>
                    </div>
                    <div class="rating-blank"></div>
                </div>
                <!-- ============= -->
            </fieldset>
        </div>

        <br />
        <div align="center">
            <input type="submit" value="Save" class="newBtn"/>
        </div>
    </fieldset>
}
<br />
<div style="margin-top:40px;">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "backlink"})
</div>
    </div>
}
else
{
    <h1>@ViewBag.NotPass</h1> 
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
