@model IEnumerable<TaskControl.Models.Task>

@{
    ViewBag.Title = "Tareas pendientes";
    ViewBag.NotPass = "You cant't pass!!";
}
@if (Session["auth"] != null && Session["auth"].ToString() == "1")
{
@section featured {

    <section class="featured" >
        <div class="content-wrapper">
            <hgroup  style="height:50px; padding-top:20px;" class="title">
                <h1>@ViewBag.Title</h1>
                <p class="subtitle">Gestor de tareas realizadas o pendientes a nivel interno</p>
            </hgroup> 
        </div>

<div>
    <table align="center">
    @if (Session["auth"] != null && Session["auth"].ToString() == "1")
    {
    <tr>
    <th style="border:none; text-align:left;" >Order by: 
    
    @if ( ViewData["DoDate"] == "1")
    {
        <span class="orderSelected">@Html.ActionLink("Do", "Index", new { sortOrder = "Do" })</span> <span> | </span> 
        <span class="orderUnSelected">@Html.ActionLink("Date", "Index", new { sortOrder = "Date" })</span>
    }
    else
    {
        <span class="orderUnSelected">@Html.ActionLink("Do", "Index", new { sortOrder = "Do" })</span> <span> | </span> 
        <span class="orderSelected">@Html.ActionLink("Date", "Index", new { sortOrder = "Date" })</span>
    }
    
    </th>
    <th><span>@Html.ActionLink("Nueva tarea", "Create")</span></th>
    </tr>
    }
    

    @{ string cl = "";
       string tdR = "";
       int i = 0;
       }
@foreach (var item in Model)
{
    i++;
    <tr>
    @if (i == Model.Count())
    {
        cl = "noBorder";
        tdR = "tdRightNoBorder";
    }
    else
    {
        cl = "yesBorder";
        tdR = "tdRightYesBorder";
    }
    <td class="@cl">
    @if (item.Do.Equals(true))
    {
          
                <svg class="circle" height="20" width="25">
                    <circle cx="15" cy="10" r="10" fill="green" />
                </svg>
                <span class="taskName">@Html.DisplayFor(modelItem => item.TaskName) / </span>
            <strong class="taskName">
                @if (string.IsNullOrEmpty(item.Who))
                {
                    @Html.DisplayName("-- Sin Asignar --")    
                }
                else
                {
                    @Html.ActionLink(item.Who, "Details", "User", new { userName = item.Who }, null) 
                }
            </strong>
            <br />
            <br />
            <span class="normalTextDes">@Html.DisplayFor(modelItem => item.TaskDescription)</span>
           
    }
    else
    {
        
                <svg class="circle" height="20" width="25">
                    <circle cx="15" cy="10" r="10" fill="red" />
                </svg>
                <span class="taskName">@Html.DisplayFor(modelItem => item.TaskName) / </span>
            <strong class="taskName">
                @if (string.IsNullOrEmpty(item.Who))
                {
                    @Html.DisplayName("-- Sin Asignar --")    
                }
                else
                {
                    @Html.ActionLink(item.Who, "Details", "User", new { userName = item.Who }, null) 
                }
            </strong>
            <br />
            <br />
            <span class="normalTextDes">@Html.DisplayFor(modelItem => item.TaskDescription)</span>
            
    }
    </td>
        @if (Session["auth"] != null)
        {
        <td class="@tdR">
            <button class="newBtn" onclick="location.href='@Url.Action("Edit", "Home", new { id = item.ID }) '">Edit</button>
            <button class="newBtn" onclick="location.href='@Url.Action("Delete", "Home", new { id = item.ID }) '">Delete</button>
        </td>
        }
    </tr>
}

</table>
</div>
    </section>
}
}
else
{
    <h1>@ViewBag.NotPass</h1> 
}
