@model IEnumerable<TaskControl.Models.Task>

@{
    ViewBag.Title = "TAREAS PENDIENTES";
    ViewBag.NotPass = "You cant't pass!!";
}
@section featured {
    <section class="featured" >
        <div class="content-wrapper" style="background-color:#A0A0A0">
            <hgroup  style="height:50px; padding-top:20px;"  class="title" style="background-color:#A0A0A0">
                <h1>@ViewBag.Title</h1>
            </hgroup> 
        </div>
@if (Session["auth"] != null && Session["auth"].ToString() == "1")
{
    <p style="text-align:center">
        @Html.ActionLink("Create New", "Create")
    </p>
}
<div style="height:400px">
    <table align="center">
    <tr> 
        <th style="width:250px;">
            @Html.DisplayName("TAREA")
        </th>
        <th>
            @Html.DisplayName("ASIGNADA A")
        </th>
        <th>
            @Html.DisplayName("DO")
        </th >
        @if (Session["auth"] != null)
        {
        <th>
            Opciones
        </th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td align="center">
            <strong>@Html.DisplayFor(modelItem => item.TaskName)</strong>
        </td>
        <td class="gray">
        @if(string.IsNullOrEmpty(item.Who))
        {
            @Html.DisplayName("-- Sin Asignar --")    
        }
        else
        {
            @Html.DisplayFor(modelItem => item.Who)
        }
        </td>
        @if (item.Do.Equals(true))
        {
            <td>
                <svg height="10" width="25">
                    <circle cx="15" cy="5" r="10" fill="green" />
                </svg>
            </td>
        }
        else
        {
            <td>
                <svg height="10" width="25">
                    <circle cx="15" cy="5" r="10" fill="red" />
                </svg>
            </td>
        }
        @if (Session["auth"] != null)
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }) 
        </td>
        }
    </tr>
}

</table>
</div>
    </section>
}

